# generic python unwanted files
*.py[cod]

# JFeatureLib log file not needed
*.log

# C extensions
*.so

# Java ignores
*.class

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# eclipse specific git ignore
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
